@charset "utf-8";
_body{background-image: url(../../../images/bg_grid.gif);}

/*header start*/
header#main_header{
	_background-color: skyblue;
}
header#main_header>div.main_util{
	border-bottom: 1px solid #ddd;
}
header#main_header>div.main_util>nav.util_menu{
	width: 980px;
	margin: 0 auto;
	_background-color: pink;
}
nav.util_menu>ul{
	float:right;
}
nav.util_menu>ul>li{
	float: left;
	position: relative;
}
nav.util_menu>ul>li>a{
	display: block;
	line-height: 30px;
	text-align: center;
	padding: 0 20px
}
nav.util_menu>ul>li:after{
	content: "";
	display: block;
	width: 1px;
	height: 10px;
	background-color: red;
	position: absolute;
	top: 10px;
}
 nav.util_menu>ul>li:first-child:after{
	content: "";
	display: none;
} 
header#main_header>div.main_middle{
	_background-color: #eee;
	width: 980px;
	margin: 0 auto;
	position: relative;
	height: 70px;
	padding-top: 11px;
}
header#main_header>div.main_middle>h1{
	width: 180px;
	margin: 0 auto; 
	text-align: center;
}
header#main_header>div.main_middle>div.toggle_menu{
	width: 48px;
	height: 48px;
	position: absolute;
	top: 11px;
	right: 11px;
}
header#main_header>div.main_bottom{
	background-color: #1d5da4;
}
header#main_header>div.main_bottom>nav.main_gnb{
	width: 980px;
	margin: 0 auto; 
	
}
nav.main_gnb>ul{
}
nav.main_gnb>ul>li{
	float: left;
	width: 16.66%;
	border-right: 1px solid #2867ad;
}
nav.main_gnb>ul>li:first-child{
	border-left: 1px solid #2867ad;
}
nav.main_gnb>ul>li>a{
	display: block;
	text-align: center;
	line-height: 45px;
	color:#fff;
	font-weight: bold;
}
/*header end*/

/*visual start*/
div.visual_wrap{
	background: #213969 url(../images/visual_bg.jpg) no-repeat center;
	height: 400px;
}
div.visual_wrap>div.visual{
	width: 980px;
	height: 400px;
	margin: 0 auto;
	position: relative;
/*	overflow: hidden; 포토샵의 클리핑마스크 같은 기능*/
}
div.visual_wrap>div.visual>img{
	position: absolute;
}
div.visual_wrap>div.visual>img.visual_text{
	top: 80px;  
}
div.visual_wrap>div.visual>img.visual_img{
	right: 30px;/*
	top: 20px;*/
}
/*visual end*/
/*section start*/
section#container_wrap{
	background-color: #ccc;
}
section#container_wrap>div.container{
	width: 980px;
	height: 196px;
	margin: 0 auto;
}
section#container_wrap>div.container img{
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}
section#container_wrap>div.container>ul>li{
	float: left;
	width: 196px;
	height: 196px;
	color: #fff;
	text-align: center;
	cursor:pointer;
}
section#container_wrap>div.container div.icon{
	padding-top: 15px;
}
section#container_wrap>div.container>ul>li:nth-child(1){
	background-color: #7c99b9;
}
section#container_wrap>div.container>ul>li:nth-child(2){
	background-color: #4f74a1;
}
section#container_wrap>div.container>ul>li:nth-child(3){
	background-color: #4b8ce0;
}
section#container_wrap>div.container>ul>li:nth-child(4){
	background-color: #3db5f2;
}
section#container_wrap>div.container>ul>li:nth-child(5){
	background-color: #95c8ff;
}
section#container_wrap>div.container>ul>li p{
	margin-top: 10px;
	font-size: 14px;
}
/*section end*/
/*articl start*/
article#container{
	width: 980px;
	margin: 0 auto;
}
article#container li{
	float: left;
	width: 310px;
	margin-right: 25px;
	padding-top: 20px;
}
article#container li:last-child{
	margin-right: 0;
}
article#container li div.card_body{
	padding: 10px;
	border: 1px solid #ccc;
	border-top: 0 none;
}
article#container li img{
	display: block;
}
/*articl end*/
article#container2{
	width: 980px;
	margin: 0 auto;
	margin-top: 15px;
}
article#container2>ul>li{
	width: 310px;
	height: 200px;
	float: left;
	border: 1px solid #ccc;
	margin-right: 25px;
	margin-top: 10px;	
	overflow: hidden;
}
article#container2>ul>li:last-child{
	margin-right: 0;
}
article#container2>ul>li>div.card{
	position: relative;
}
article#container2>ul>li>div.card>img{
	position: absolute;
	right: -10px;
	top: 10px;
}
article#container2>ul>li>div.card>div.card_body{
	width: 140px;
	margin-top: 10px;
	margin-left: 10px;
	position: relative;
}
article#container2>ul>li>div.card>div.card_body>a{
	color: blue;
	display: block;
	margin-top: 10px;
}
/**/
/*footer*/
footer#main_footer{
	height: 150px;
	background-color: #5e5e5e;
	margin-top: 20px;
}
footer#main_footer>div.footerWrap{
	height: 43px;
	background-color: #4d4d4d;
}
footer#main_footer>div.footerWrap>div.footer{
	width: 980px;
	margin: 0 auto;
}
footer#main_footer div.footer ul{
	overflow: hidden;
}
footer#main_footer div.footer ul li{
	float: left;
	position: relative;
}
footer#main_footer div.footer ul li a{
	display: block;
	padding: 0 30px;
	font-size: 0.8em;
	line-height: 43px;
	color: #cdcdcd;
	font-weight: bold;
}
footer#main_footer div.footer ul li:first-child a{
	padding-left: 0;
}
footer#main_footer div.footer ul li:after{
	content: "";
	width: 1px;
	height: 15px;
	background-color: #f00;
	display: block;
	position: absolute;
	top: 15px;
	left: -1px;
}
footer#main_footer>div.footerAdd{
	width: 980px;
	margin: 0 auto;
}
footer#main_footer>div.footerAdd h2{
	float: left;
	color: #fff;
	padding-top: 10px;
	margin-right: 20px;
}

footer#main_footer>div.footerAdd address{
	float: left;
	margin-left: 20px;
	font-style: normal;
	color: #cdcdcd;
	padding-top : 10px;
}

/*footer end*/



