@charset "utf-8";	

/*header 시작*/
.header_wrap{
	width: 100%;
	height: 90px;
	background: url(../images/img_header.jpg) center; 
	background-repeat: no-repeat;
	background-color: #0868a4;
	position: relative;
}
#header{
	width: 100%;
	margin: 0 auto;
	position: relative;
}
#header>.header_top{
	width: 985px;
	height: 90px;
	margin: 0 auto;	
}
#header>.header_top>h1{
	width: 150px;
	height: 90px;
	_background-color: pink;
	text-align: center;
	line-height: 90px;
	float: left;
	margin-right: 130px;
}
#header>.header_top>h1 img{
	height: 100%;
}
/*검색창*/
legend{
	display: none;
}
.search{
	float: left;
	left: 50%;
	width: 300px;
	border-radius: 30px;
	margin-right: 30px;
	margin-top: 30px;
}
fieldset{
	line-height: 30px;
	border:1px solid #dadada;
	background-color: #fff;
	border-radius: 30px;
	padding-left: 10px;
}
fieldset .inp-field{
	width: 170px;
	border: 0 none;
}
.icons>a img{
	width: 18px;
}
/*검색창 끝*/

/*전화번호*/
.tel{
	float: left;
	width: 200px;
	font-size:22px;
	color: #fff;
	line-height: 90px;

}
/*SNS버튼*/
.btnsns{
	float: right;
	padding-top: 30px;
}
.btnsns>ul>li{
	float: left;
	margin-right: 5px;

}
.btnsns>ul>li>a{
	display: block;
}

/*nav*/
.navWrap{
	background-color: #f7f7f7;
	border-bottom: 3px solid #0e73a7;	
}
.navWrap>nav.nav{
	width: 980px;
	height: 6 0px;
	margin: 0 auto;
}
.navWrap>nav.nav>ul{}
.navWrap>nav.nav>ul>li{	
	float: left;
	width: 163.33px;
	border-right: 1px solid #ddd;
	position: relative;
	overflow: hidden;
}
/*.navWrap>nav.nav>ul>li:hover a{
	background-color: #0868a4;
	color: #fff;
	transition: 0.5s;
}	*/
.navWrap>nav.nav>ul>li:first-child{
	border-left: 1px solid #ddd;
}
.navWrap>nav.nav>ul>li>a{
	display: block;
	line-height: 60px;
	text-align: center;
	font-weight: bold;
}
.navWrap>nav.nav>ul> li > a .overlay{
	width: 100%;
	height:100%;
	background-color: #0e73a7;
	position: absolute;
	top:100%;
	left:0;
	transition:0.3s;
}
.navWrap>nav.nav>ul> li > a .overlay > .text{
	text-align: center;
	color:white;
	font-weight:bold;
}
.navWrap>nav.nav>ul> li:hover a .overlay{top:0;}
/*header 끝*/

/*--------------------------------------------*/

/*section 시작*/
body.index{
	background-image: url(../images/01bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}

div.airballoon{
	position: absolute;
	left: 50%;
	/*이름*/ animation-name: myani;
	/*동작시간*/animation-duration: 2s;
	/*반복횟수*/animation-iteration-count:infinite; 
	/*방향*/animation-direction: alternate;
	animation-timing-function: cubic-bezier(0.3, 0.04, 0.47, 0.82) /*ease*/;
}
@keyframes myani{
	from{top:250px;}
	to{top:300px;}
}
div.airballoon02{
	position: absolute;
	/*이름*/ animation-name: myanitwo;
	/*동작시간*/animation-duration: 4s;
	/*반복횟수*/animation-iteration-count:infinite; 
	/*방향*/animation-direction: alternate;
	animation-timing-function: linear /*ease*/;
}
@keyframes myanitwo{
	from{left: 200px;top:200px;}
	to{left: 200px;top:300px;}
}
div.airballoon03{
	position: absolute;
	/*이름*/ animation-name: myanithree;
	/*동작시간*/animation-duration: 8s;
	/*반복횟수*/animation-iteration-count:infinite; 
	/*방향*/animation-direction: normal;
	animation-timing-function: linear /*ease*/;
}
div.airballoon03 img{
	width: 100px;
}
@keyframes myanithree{
	from{left: 999px;bottom: -9px;}
	to{left: -999px;bottom:999px;}
}
section{
	width: 985px;
	margin: 0 auto;
	position: relative;
	height: 1200px;
	_background-color: gold;
}
section>.section_text{	
}
/*section>img{
	position: absolute;
	right: -100px;
	top: 120px;
}*/
/*예약 pager시작*/
.reserve{
	margin-bottom: 15px;
	background-color: #fff;
	width: 485px;
}
.slider_pager{
	float: left;
	width: 135px;
}
.slider_pager a{
	display: block;
	line-height: 75px;
	text-align: center;
	background-color: #0199cb;
	color: #fff;
	text-align: center;
}
.slider_pager li{	
	border-bottom: 1px solid #00497c;
}
.slider_pager li:last-child {
	border-bottom: none;
}
.slider_pager a.active{
	background-color: #000;
	color: #fff;
	background-image: none;
}
.slider_pager a img.out{display: block;}
.slider_pager a img.active{display: none;}
.slider_pager  a.active img.out{display: none;}
.slider_pager  a.active img.active{display: block;}

.slider_pager>ul>li{}
.slider_pager>ul>li>a{}
.slider_pager>ul>li>a>img{
	width: 40px;
	top: 20px;
	float: left;
	margin-top: 20px;
	margin-left: 12px
}
.sliderWrap{
	width: 485px;
	height: 300px;
	margin-top: 120px;
}
.bx-wrapper{
	float: right;
	width: 350px;
}
/*예약 시작*/
fieldset{
	border:0 none;
}
.sliderWrap>.slider>ul>li>.f_layer>fieldset>legend{
	display: block;
	position: absolute;
	left: 0;
	top: -9999px;
}
.f_layer fieldset label{
	display: block; padding: 5px 0;
}
/*선택창 출발일*/

.f_layer fieldset .date_left,
.f_layer fieldset .date_right{
	float: left;
	width: 150px;
	margin-right: 5px;
}
/*선택창 좌석등급*/
.f_layer fieldset .sleft,
.f_layer fieldset .sright,
.f_layer fieldset .grade{
	float: left;
	width: 140px;
	margin-right: 10px;
}

/*선택창 1,4*/
.f_layer fieldset select{
	display: block;
	width: 90%;
	height: 40px;
	font-size:1em;
	text-indent: 8px;
	border-radius: 5px;
}
.f_layer fieldset .sleft input,
.f_layer fieldset .sright input,
.f_layer fieldset .date_left input,
.f_layer fieldset .date_right input{
	width: 100%;
	border-radius: 5px;
	border: 1px solid #aaa;
	height: 40px;
	line-height: 40px;
	text-indent: 8px;
	font-size: 1em;
	font-weight: bold;
}
.numpeople01,
.numpeople02{
	float: left;
	width: 67px;
}
.numpeople01 input,
.numpeople02 input{
	width: 100%;
	border-radius: 5px;
	border: 1px solid #aaa;
	height: 40px;
	line-height: 40px;
	text-indent: 8px;
	font-size: 1em;
	font-weight: bold;
}
.numpeople01{
	margin-right: 10px;
	margin-bottom: 10px;
}
/*검색버튼 시작*/
.btn_search{
	float: left;
	width: 310px;
	height: 40px;
	border-radius: 5px;
	background-color: #ea4f1f;
	text-align: center;
	line-height: 40px;
}
.btn_search a{
	color: #fff;
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}
.btn_search a:hover{
	color: #ea4f1f;
	background-color: #fff;
	border: 1px solid #ea4f1f;
	border-radius: 5px;
	transition: 0.3s;
	display: block;
	width: 100%;
	height: 100%;
}
.btn_search>a>img{
	position: absolute;
	margin-top: 8px;
	margin-left: -30px;
}
/*검색버튼 끝*/

/*광고 문구*/
.txt_section{
	position: absolute;
	left:52%;
	top: 180px;
	z-index: 1;
}
.txt_section>p{
	font-size: 60px;
	font-weight: bold;
	color: #152630;
}
.txt_section>p>span{
	text-decoration: underline;
}
.txt_section>.txt_section02{
	font-size: 35px
}

/*step01*/
.step01{
	width: 980px;
}
.step01>ul>li{
	float: left;
	position: relative;
	width: 233px;
	height: 240px;
	margin : 0 15px 15px 0 ;
	overflow: hidden;
}
.step01>ul>li>img{
	height: 100%;
}
.step01>ul>li>.steptxt{
	position: absolute;
	bottom: 0;
	height: 50px;
	line-height: 50px;
	width: 233.75px;
	background-color: #152630;
	color: #fff;
	font-weight: bold;
	font-size: 18px;  
	cursor : pointer;
}
.steptxt p{
	text-align: center;
}
.steptxt span{
	color: #529351;
	font-weight: bold;
}
/*step02*/
.step02{
	width: 980px;
}
.step02>ul>li{
	float: left;
	position: relative;
	width: 233px;
	height: 240px;
	margin : 0 15px 15px 0 ;
	overflow: hidden;
}
.step02>ul>li:last-child{
	margin-right: 0;
}
.step02>ul>li>img{
	height: 100%;
}
.step02>ul>li>.steptxt{
	position: absolute;
	bottom: 0;
	height: 50px;
	line-height: 20px;
	width: 233.75px;
	background-color: #152630;
	color: #fff;
	font-weight: bold;
	font-size: 18px;  
	cursor : pointer;
}
.steptxt p{
	text-align: center;
}
.star{
	color: gold !important;
}

.weathertxt{
	position: absolute;
	bottom: 0;
	height: 50px;
	line-height: 20px;
	width: 233.75px;
	color: #fff;
	font-weight: bold;
	font-size: 18px;  
	cursor : pointer;
	background-color: rgba(0,0,0,0.4);
	padding-left: 10px;
}

.facebook_txt{
	position: absolute;
	top: 10px;
	left: 10px;
	line-height: 25px;padding-bottom: 10px;
}
.steptxt_facebook{
	position: absolute;
	bottom: 0;
	height: 50px;
	line-height: 20px;
	width: 233.75px;
	background-color: #152630;
	color: #fff;
	font-weight: bold;
	font-size: 18px;  
	cursor : pointer;
	background-color: #44619d;
	padding-left: 10px;
}
.steptxt_facebook span,
.weathertxt span{
	font-size: 15px;
}
.facebook_txt02{
	font-size: 14px;
	margin-top: 10px;
}
/*step03*/
.step03{
	width: 980px;
	height: 240px;
	margin-bottom: 15px;
}
.step03>ul>li{
	float: left;
	position: relative;
	width: 233px;
	height: 240px;
	margin : 0 15px 15px 0 ;
	overflow: hidden;
}
.step03>ul>li:last-child{
	margin-right: 0;
}
/*0301*/
.step0301>img{
	height: 240px;
}
.steptxt0301{
	display: block;
	position: absolute;
	top: 20px;
	width: 233px;
	height: 240px;
	text-align: center;
	color: #fff;
}
.step0301>.cover{
	width: 233px;
	height: 240px;
	display: block;
	position: absolute;
	background-color:rgba(0, 100, 80, 0.45)
}
.steptxt0301>p{
	font-size: 20px;
	font-weight: bold;
}
.step0301:hover .steptxt0301{
	top: 150px;
	transition: 0.6s;
}
.overlay{
	_display: none;
	position: absolute;
	top: 100%;
	width: 233px;
	height: 240px;
	background-color:rgba(0, 0, 0, 0.45);
}
.step0301:hover .overlay{
	top: 0;
}
.ico_plus{
	position: absolute;
	width: 233px;
	height: 240px;
	top: 96.5px;
	left: 100px;
	z-index: 1;
	transform: rotate(0deg);
	transition: 0.6s
}
.ico_plus img{
	width: 40px;
	height: 40px;
}
.step0301:hover .ico_plus{
	transform: rotate(360deg);
}
/*footer*/
footer{
	width: 980px;
	height: 150px;
	margin: 0 auto;
}
footer>ul>li{
	float: left;
	margin-right: 50px;
}
footer>ul>li:hover a{
	color: #ddd;
}
footer>ul>li>a{	
	line-height: 40px;
	font-weight: bold;
}
footer>address{
	font-size:14px;
}
footer>address>ul>li{
	float: left;
    font-style: normal;
    margin-right: 20px;
    line-height: 30px;`
}
/*서브페이지 시작*/
body{
	width: 100%;
	background-image: url(../images/bg_dot.gif);
	background-repeat: repeat;
	background-position: center;
	background-size: auto, cover/*contain */;
	position: relative;
}
.section_wrap{
	padding-top: 63px;
	position: relative;
}
.sub_img{	
	width: 100%;
	height: 290px;
	position: absolute;
	background-image: url(../images/subimg03.jpg);
	background-repeat:no-repeat;
	background-size: cover;
}
section.sub{
	width: 980px;
	position: relative;
	left: 50%;
	margin-left: -500px;
}
.sub_title{
	width: 980px;
	margin: 0 auto;
	margin-bottom: 40px;
	padding-top: 40PX;
}
.subtxt{
	margin-bottom: 40px;
}
.subtxt>p{
	text-align: center;
	font-size: 60px;
	font-weight: bold;
	color: #fff;
}
.subtxt>span{
	font-size: 20px;
	color: #fff;
	display: block;
	text-align: center;
}
.sub_title>.image{
	border: 10px  solid #006599;
}
.sub_title>.image>img{
	width: 100%;
}