@charset "utf-8";

#main_header{
	background-color: #0044AF;
	height: 40px;
}
#main_header>.main_util{
	width: 1200px;
	margin: 0 auto;
}
#main_header>.main_util>nav.maintop{
	float: left;
}
#main_header>.main_util>nav.maintop ul{}
#main_header>.main_util>nav.maintop ul li{
	float: left;
	width: 120px;
	line-height: 40px;
	text-align: center;
	background-color: #00163B;
	margin-left: 2px;
}
#main_header>.main_util>nav.maintop ul li:first-child{
	margin-left: 0;
}
#main_header>.main_util>nav.maintop ul li a{
	color:#fff;
	display: block;
}
#main_header>.main_util>nav.maintop ul li a:hover {
	background-color: #fff;
	color: #00163B;
}

/*utilMenu*/
#main_header>.main_util>nav.utilMenu{
	_background-color: gold;
	float: right;
}
#main_header>.main_util>nav.utilMenu ul{
}
#main_header>.main_util>nav.utilMenu li{
	float: left;
	text-align: center;
	line-height: 40px;
	padding: 0 5px;
}
#main_header>.main_util>nav.utilMenu li a{
	display: block;
	color:#fff;
}
#main_header>.main_util>nav.utilMenu li .plus{
	width: 20px;height: 20px;text-align: center;line-height: 20px;
	background-color: #fff;color: #9b9b9b; margin: 10px; cursor: pointer;
	margin-left: 0; margin-right: 0;
}
#main_header>.main_util>nav.utilMenu li .minus{
	width: 20px;height: 20px;text-align: center;line-height: 20px;
	background-color: #fff;color: #9b9b9b; margin-top: 10px; cursor: pointer;
	margin-left: 0; margin-right: 0;
}

/*gnb*/
.headerSecond{
	width: 1200px;
	margin: 0 auto;
}
.headerSecond>h1{
	background-color: pink;
	width: 200px;
	height: 100px;
}
nav.gnb{
	float: right;
}
nav.gnb>ul{
}
nav.gnb>ul>li{
	float: left;
	padding: 0 5px;
}
nav.gnb>ul>li>a{
	display: block;
}



















