@charset "utf-8";

#header{
	width: 100%;
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
}
.logoWrap{
	width: 1920px;
	height: 100px;
	margin: 0 auto;
	display: block;
}
.logo{
	float: left;
	height: 100px;
}
.logo>a{}
.logo>a>img{
	height: 100px;
}
nav.gnb{
	width: 1280px;
	margin: 0 auto;
	position: relative;
	padding-top: 40px;
	z-index: 1;
}
nav.gnb>ul>li{
	width: 256px;
	height: 60px;
	float: left;
}
nav.gnb>ul>li>a{
	display: block;
	line-height: 60px;
	text-align: center;
}		
nav.gnb>ul>li:hover{
	background-color: #141521;
	transition: .5s;
}
nav.gnb>ul>li:hover a{
	color: #fff;	
}
/*세로메뉴1개*/
nav.gnb>ul>li:hover .submenu{display: block;}

/*submenu*/
.submenu{display:none;}

.submenu>li{
	background-color: #fff;
}
.submenu>li>a{
	display: block;
	text-align:center;
	line-height: 40px;
	color: #000;
}
.submenu>li:hover{background-color: #23c5c8;}
nav.gnb>ul>li .submenu li:hover a{color:#fff;}
nav.gnb>ul>li:hover .submenu a{color:#000;}


/*nav.gnb>ul>li:first-child .submenu{display: block;}*/

/*visual*/
.visual{
	width: 1920px;
	margin: 0 auto;
	display: block;
}
.bxslider{
	height: 885px;
}
.slider>li>img{
	width: 100%;
}
.slider{
	position: relative;
}
.sliderTxt{
	width: 550px;
	height: 200px;
	position: absolute;
	left: 25%;
	top: 50%;
}
.sliderTxt>p{
	font-size: 32px;
	font-weight: bold;
	color: #fff;
}
.sliderTxt>p>span{
	color: #23c5c8;
}
.sliderTxt>.sliderBtn{
	margin-top: 15px;
}
.sliderTxt>.sliderBtn>ul>li{
	float: left;
	width: 180px;
}
.sliderTxt>.sliderBtn>ul>li>a{}
.sliderTxt>.sliderBtn>ul>li>a>img{
	height: 50px;
}


