@charset "utf-8";

#main_header{
}
#main_header>.mainheaderWrap{	
	background-color: #0044AF;
	height: 40px;
}
#main_header>.mainheaderWrap>.main_util{
	width: 1200px;
	margin: 0 auto;
}
#main_header>.mainheaderWrap>.main_util>nav.maintop{
	float: left;
}
#main_header>.mainheaderWrapr>.main_util>nav.maintop ul{}
#main_header>.mainheaderWrap>.main_util>nav.maintop ul li{
	float: left;
	width: 120px;
	line-height: 40px;
	text-align: center;
	background-color: #00163B;
	margin-left: 2px;
}
#main_header>.mainheaderWrap>.main_util>nav.maintop ul li:first-child{
	margin-left: 0;
}
#main_header>.mainheaderWrap>.main_util>nav.maintop ul li a{
	color:#fff;
	display: block;
}
#main_header>.mainheaderWrap>.main_util>nav.maintop ul li a:hover {
	background-color: #fff;
	color: #00163B;
	transition: 0.4s;
}

/*utilMenu*/
#main_header>.mainheaderWrap>.main_util>nav.utilMenu{
	_background-color: gold;
	float: right;
}
#main_header>.mainheaderWrap>.main_util>nav.utilMenu ul{
}
#main_header>.mainheaderWrap>.main_util>nav.utilMenu li{
	float: left;
	text-align: center;
	line-height: 40px;
	padding: 0 5px;
}
#main_header>.mainheaderWrap>.main_util>nav.utilMenu li a{
	display: block;
	color:#fff;
}
#main_header>.mainheaderWrap>.main_util>nav.utilMenu li .plus{
	width: 20px;
	height: 20px;
	background-color: #fff; 
	color: #9b9b9b;
	margin: 10px 0;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
}
#main_header>.mainheaderWrap>.main_util>nav.utilMenu li .minus{
	width: 20px;
	height: 20px;
	background-color: #fff; 
	color: #9b9b9b;
	margin: 10px 0;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
}

/*gnb*/
.headerSecond{
	width: 1200px;
	height: 120px;
	margin: 0 auto;
	background-color: #fff;
}
.headerSecond>h1{
	width: 200px;
	height: 120px;
	float: left;
	padding-top: 40px;
}
/*nav.gnb*/
.headerSecond>nav.gnb{
	float: right;
}

/*gnbLeft*/
.headerSecond>nav.gnb>div.gnbleftWrap{
	float: left;
}
ul.gnbLeft{}
.headerSecond ul.gnbLeft li{
	float: left;
	padding: 0 5px;
	line-height: 118px;
	font-size:20px;
	color: #9b9b9b;
}
.headerSecond>nav.gnb>ul.gnbLeft>li>a{
	display: block;
}

/*gnbRight*/
.headerSecond>nav.gnb>.gnbrightWrap{
	float: right;
}
.headerSecond>nav.gnb>.gnbrightWrap>ul.gnbRight{}
.headerSecond>nav.gnb>.gnbrightWrap>ul.gnbRight>ul{}
.headerSecond ul.gnbRight li{
	float: right;
	margin: 35px 0;
}
.headerSecond>nav.gnb>ul.gnbRight>ul>li>a{
	display: block;
}

/*section*/
.container{
	background-image: url(images/bg_dot.gif),url(images/main_bg01.jpg);
	background-repeat: repeat, no-repeat;
	background-position: center;
	background-size: auto, cover/*contain */;
	padding-bottom: 30px;
}

/*section_큰제목*/

.wrapper{
	width: 1200px;
	margin: 0 auto;
}
.wrapper .pWrap{
	float: left;
	width: 750px;
}
.wrapper .pWrap p{
	padding-top: 80px;
	color:#fff;
	font-size: 40px;
}
.wrapper .pWrap span{
	color: #fff;
	font-size: 60px;
}
/*section_icon*/
.wrapper .iconWrap{
	float: right;
}
.wrapper .iconWrap>ul{}
.wrapper .iconWrap>ul>li{
	float: left;
	width: 100px;
	color: #fff;
	text-align: center;
	padding-top: 100px;
}
.wrapper .iconWrap>ul>li>img{
	border: 1px solid #fff;
	border-radius: 100px;
	padding: 10px;
}

/*slider*/
div.sliderWrap{
	width: 1200px;
	margin: 0 auto;
	padding-top: 30px;
	margin-bottom: 30px;
}
div.sliderWrap>ul>li{
	float: left;
	position: relative; 
}
div.sliderWrap>ul>li:first-child{height: 450px;width: 75%;}
div.sliderWrap>ul>li:nth-child(2){height: 450px;width: 25%;background-color: pink;}
div.sliderWrap>ul>li:nth-child(3){height: 225px;width: 25%;background-color: #00163b;}
div.sliderWrap>ul>li:nth-child(4){height: 225px;width: 25%;background-color: #1651b7;}
div.sliderWrap>ul>li:nth-child(5){height: 225px;width: 25%;background-color: #fff;}
div.sliderWrap>ul>li:nth-child(6){height: 225px;width: 25%;background-color: gold;}
div.sliderWrap>ul>li:nth-child(7){height: 225px;width: 25%;background-color: gold;}
div.sliderWrap>ul>li:nth-child(8){height: 225px;width: 75%;background-color: skyblue;}

.nextBtn, .prevBtn{
	position: absolute; 
	top: 50%;
	margin-top: -50px;
	cursor: pointer;
	background-color: rgba(0,0,0,0.4);}
.nextBtn{
	right: 0;
}
.bx-wrapper {
    box-shadow: 0 none;
    border: 0 none;
    background: 0 none;
}
.bx-wrapper .bx-pager{
    bottom: 60px;
 }
.bx-wrapper .bx-pager.bx-default-pager a:hover, 
.bx-wrapper .bx-pager.bx-default-pager a.active, 
.bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #083d8d;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    width: 15px;
    height: 15px;
    border-radius: 15px;
 }

.mamaSlider > .bx-wrapper .bx-pager.bx-default-pager a:hover, 
.mamaSlider > .bx-wrapper .bx-pager.bx-default-pager a.active, 
.mamaSlider > .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #ff503f;
}
.mamaSlider > .bx-wrapper .bx-pager{
    top: 10px;
    width: 100px;
    height: 10px;
    right: 20px;
}
/*1번째 컨텐츠*/
.sliderText{
	position: absolute;
	top: 60px;
	left: 60px;
	font-size: 60px;
	color: #1651b7;
}
.sliderText p span{
	font-weight: bold;
}
div.sliderMoreBox{
	position: absolute;
	background-color: #192c4c;
	width: 165px;
	height: 40px;
	top: 320px;
	left: 60px;
	color: #fff;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	font-size: 14px;
}
.slider:hover img{
	transform: scale(1.1);
	transition: 0.3s;
}
.slider>li{
	overflow: hidden;
}
div.sliderWrap>ul>li>ul.slider>li img{
}
/*2번째 콘텐츠*/
.sliderWrap>ul>li:nth-child(2) img{
	overflow: hidden;
}
.sliderWrap>ul>li .apptextTitle{
	position: absolute;
	top: 60px;
	left: 30px;
	font-size: 35px;
	color: #fff;
	line-height: 45px;
}
.sliderWrap>ul>li .apptext{
	position: absolute;
	top: 220px;
	left: 30px;
	color: #fff;
}
.sliderWrap>ul>li>.apptext p span{
	font-weight: bold;
}
.sliderWrap>ul>li .appMorebox{
	position: absolute;
	background-color: rgba(0,0,0,0.6);
	width: 165px;
	height: 40px;
	top: 320px;
	left: 30px;
	color: #fff;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	font-size: 14px;
	border: 1px solid #fff;
}

/*3번째 콘텐츠*/

.hotclick{}
.hotclick strong{
	color: #fff;
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 22px;
}
.hotclick ul li{
	float: left;
	text-align: center;
	color: #fff;
	width: 100px;
	padding-top: 80px;
	cursor: pointer;
}
/*4번째 콘텐츠*/
.notice{
	background-image: url(images/bg03.jpg);
	padding-top: 20px;
}
.notice strong{	
	color: #fff;
	width: 250px;
	font-size: 22px;
	display: block;
	margin: 0 auto	
}
.notice strong:after{
	content: "";
    display: block;
    width: 250px;
    height: 2px;
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
  
}
.notice ul{
	width: 250px;
	margin: 0 auto;
}
.notice ul li{
	position: relative;
	height:30px;
}
.notice ul li span{
	position: absolute;
	right:0;
}
.notice ul li a{	
	color: #fff;
}
/*5번째 콘텐츠*/
.snsnews{
	margin: 20px;
	width: 250px;
}
.snsnews strong{	
	color: #00163b;
	width: 250px;
	font-size: 22px;
	display: block;
	margin: 0 auto;
}
.snsnews img{
	margin-top: 30px;
}
.snsnews>.snsnewsTxt{
	position: absolute;
	right: 0;
	top: 75px;
}
.snsnews>.snsnewsTxt p{
	line-height: 24px;
}
.snsnews>.snsico{
	_float: right;
	width: 70px;
	position: absolute;
	bottom: 10px;
	right: 0;
	
	/*margin-left:auto;*/
}
.snsnews>.snsico img{
	float: left;
	width: 30px;
	display: block;
	margin-right:5px;
}
/*6번째 콘텐츠*/
.campus{
	height: 225px;
	position: relative;
	overflow: hidden;
}
.campus>img{
	height: 100%;
}
.campus>.campustxt{
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,0.5);
	position: absolute;
	top: 100%;
	left: 0;
	padding-top: 100px;
	transition: 0.6s;
	text-align: center;
	color:white;
	font-weight:bold;
}
.campus:hover .campustxt{top:0;}

/*7번째 콘텐츠*/
.play{
	width: 300px;
	height: 225px;	
	overflow: hidden;
	position: relative;
}
.play img{
	height: 225px;
}
.play>.playico{
	position: absolute;
	top: 0;
	width: 60px;
	height: 60px;
	top: 40%;
	left: 40%;
	cursor: pointer;
}
.play>.playico>img{
	width: 100%;
	height: 100%;
	opacity:0.7;
}
/*8번째 콘텐츠*/
.sliderOne{}

.sliderOne>li>.reservationtxt{
	position: absolute;
	top: 30px;
	left: 30px;
	color: #fc513d;
}
.sliderOne>li>.reservationtxt p{
	font-size: 30px;
}
.sliderOne>li>.reservationtxt span{
	font-size: 45px;
	font-weight: bold;
}
.sliderOne>li>.reservationtxt>div{
	color: #fff;
	width: 200px;
	height: 40px;
	background-color: #f32810;
	text-align: center;
	line-height: 40px;
	opacity:0.8;
	margin-top: 20px;
	cursor:pointer;
}

/*last*/
.lastWrap{
	width: 1200px;
	margin: 0 auto;
	
}
.last{
	float: left;
	width: 300px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background-color: #fff;
}
.last > h3{
	display: block;
	float: left;
	margin: 0 20px;
}
.last > .leftcontent a,
 .last > .leftcontent p{
	display: block;
	float: left;
	margin-left: 5px;
}
.rightcontent{
	width: 900px;
	height: 60px;
	background-color: #fff;
	float: left;
	border-left: 1px solid #000;
	position: relative;
}
li.view{
	height: 60px;
}
li.view>a>h3{
	font-size: 15px;
	line-height: 60px;
	float: left;
	padding-left: 40px;
}
li.view>a>p{
	float: left;
	font-size: 5px;
	line-height: 60px;
	padding-left: 40px;
}
div.up {
	width: 40px;
	height: 29px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}
div.down{
	width: 40px;
	height: 29px;
	position: absolute;
	bottom: 0;
	right: 0;
	cursor: pointer;
}
div.up>img, div.down>img{
	width: 100%;
}
/*footer*/
footer{
	background-color: #fff;
}
.footerBox{
	position:relative;
	width: 100%;
	max-width : 1200px;
	height: 170px;
	margin:0 auto;
}

.footernav{
	position: absolute; 
	top: 25px;
	right: 110px;
}
.footernav ul li {
	cursor:pointer; 
	float: left; 
	padding:0 17px; 
	font-size:15px;
	text-align: center;  
	position: relative;
}
.footernav ul li:before{
	content:""; 
	display: block;
	width: 1.4px;
	height: 12px;
	background-color: #000;
	position: absolute;
	top: 5px; left: 0px;
}
.footernav ul li:first-child:before {
	display:none;
}

.footerText{
	position: absolute;
	top:57px;
	right: 300px;
}
 .footerText p{
 	margin:5px 0px; 
 	font-size:13.5px;
 	color: #585858;
 }

 .footerLogo img{
 	width: 200px;
 }
/*footer 끝 */